
@model MVCSTOK.Models.Entity.Tbl_Urunler
@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Ürün Adı</label>
        <input type="text" name="UrunAd" class="form-control" value="" required maxlength="30"/>
    </div>
    <div>
        <label>Markası</label>
        <input type="text" name="Marka" class="form-control" value="" placeholder="Buraya Markayı Yazınız" required/>
    </div>
    <div>
        <label>Kategori Seçin</label>
        @*<input type="tel" name="UrunKatgori" class="form-control" value="" />*@
        @Html.DropDownListFor(m => m.Tbl_Kategoriler.KategoriyID,(List<SelectListItem>)ViewBag.dgr,new {@class="form-control" })
    </div>
    <div>
        <label>Fiyatı</label>
        <input type="text" name="Fiyat" class="form-control" value="" />
    </div>
    <div>
        <label>Stok Adeti</label>
        <input type="text" name="Stok" class="form-control" value="" required/>
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Ürün Ekle</button>
    </div>
</form>

