
@model MVCSTOK.Models.Entity.Tbl_Kategoriler
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Kategori", FormMethod.Post))
{
<div class="form-group">
    @Html.LabelFor(m => m.KategoriyID)
    @Html.TextBoxFor(m => m.KategoriyID, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.KategoriyAd)
    @Html.TextBoxFor(m => m.KategoriyAd, new { @class = "form-control" })
</div>

<div class="">
    <button class="btn btn-warning">Kategori Güncelle</button>
</div>
}

