
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="get">

    <fieldset>
        Film Türü Seçin <select id="MovieType" name="MovieType" class="form-control">

            <option selected="selected" value=""></option>

            <option value="0">Aksiyon</option>

            <option value="1">Drama</option>

            <option value="2">Komedi</option>

            <option value="3">Bilim Kurgu</option>

        </select>



    </fieldset>

</form>

